# Byte-compiled / optimized / DLL files
__pycache__/

# JPEG / PNG files
*.jpg 
*.png

# Pickle files
*.pickle

# Editor setting
.vscode/

# compiled C++ files and libraries
voronoi.cpp
cppvoronoi/*.so

# pyInstaller
dist/

# qt5-file
gui_qt5